body {
    width: 100%;
    height: auto;
    background: #fff;
    margin: 0 auto;
    position: fixed;
}

nav {
    display: none;
    background: #2d2d2d;
    width: 100%;
    position: fixed;

}

nav li {
    list-style: none;
}

nav a, nav p{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    display: list-item;
}

.fa-bars {
    color: white;
    background: #2d2d2d;
    width: 100vw;
    height: auto;
    font-size: 8vw;
    padding: 2vw;
}

nav p {
    background: #210505;
}
